/* styles.module.css */

.mainContent {
    padding: 4rem 1rem;
    max-width: 95%;
    margin: 0 auto;
}

.pageTitle {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #de6f31, #da542b, #d23437, #bf1846, #9f0c43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.description{

}

.contactButton {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.divider {
    width: 95%; /* 设置宽度为内容区域的百分比 */
    max-width: 1200px; /* 最大宽度限制 */
    height: 4px; /* 高度 */
    background: linear-gradient(90deg, #de6f31, #bf1846, #9f0c43); /* 渐变色 */
    margin: 0 auto 2rem;
    margin-bottom: 5rem;
    border-radius: 2px; /* 圆角 */
}

.friendList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
}

.friendCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.friendCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cardImageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBody {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardTitle {
    /*position: relative;*/
    /*display: inline-block;*/
    text-decoration: none !important;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    transition: color 0.3s, transform 0.3s;
}

.cardTitle:hover {
    transform: scale(1.05);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cardTitle::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* 下划线的粗细 */
    background-color: currentColor; /* 与文字颜色一致 */
    transition: width 0.3s ease; /* 控制下划线从左到右的动画效果 */
}

.cardTitle:hover::after {
    width: 100%; /* 下划线展开到整个链接宽度 */
}

.cardDescription {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
    .friendList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .friendList {
        grid-template-columns: 1fr;
    }
}
